In [1]:
import pandas as pd

df = pd.read_csv("estudios.csv", sep=";")
df

,estudio,n_exp,media_exp,sd_exp,n_control,media_control,sd_control
0,John Doe et Al.,20,8,3.5,20,10,3.1
1,Jack Down et Al.,15,9,4.5,15,12,2.5
2,Jane Dew et Al.,17,7,3.5,17,9,2.7
3,Joseph Dick et Al.,30,12,2.2,28,15,2.8
4,Jonas Dash et Al.,32,12,4.5,31,9,3.1

In [3]:
import numpy as np 

media_exp = df["media_exp"].values
n_exp = df["n_exp"].values
sd_exp = df["sd_exp"].values
n_control = df["n_control"].values
media_control = df["media_control"].values
sd_control = df["sd_control"].values

sd_pooled = ((n_exp -1)*sd_exp + (n_control -1)*sd_control) / (n_exp + n_control -2)

d = (media_exp - media_control)/sd_pooled

d

array([-0.60606061, -0.85714286, -0.64516129, -1.20516499,  0.78709677])